.paper.MuiPaper-root {
  height: 50em;
  padding: 1em;
  overflow: auto;
  background-color: lightgrey;
}

.paper-invalid-drop.MuiPaper-root {
  height: 50em;
  padding: 1em;
  overflow: auto;
  background-color: red;
}

.board-heading {
  display: inline;  
}

.board-column {
  flex: 0 0 auto;
  min-width: 600px;
}

