.heading.MuiGrid-root {
  margin: 30px;
}

.select-group-by {
  width: 200px;
  text-align: left;
}

.dropdown-menu.MuiList-root {
  position: absolute;
  margin-left: 370px;
}

.board-grid-container.MuiGrid-root {
  width: 100%;
  overflow-x: auto;
  flex-wrap: nowrap;
  margin-right: 30px;
}