.drawer {
  width: 240px;
  flex-shrink: 0;
  color: black;
  background-color: black;
}

.admin-nav-button.MuiButtonBase-root {
  height: 200px;
  font-size: 30px;
  border-width: 5px;
}

.admin-home-heading.MuiTypography-root {
  margin: 100px;
}